<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572102415014-iiifpd9gj2aphk736hsu5a8rh8fv33lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572102415014-iiifpd9gj2aphk736hsu5a8rh8fv33lb</string>
	<key>API_KEY</key>
	<string>AIzaSyC57AuM1qDrb5QaOp1W_sVoprkYgGZuYcc</string>
	<key>GCM_SENDER_ID</key>
	<string>572102415014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Avinash.Showstopper</string>
	<key>PROJECT_ID</key>
	<string>showstoppercruz</string>
	<key>STORAGE_BUCKET</key>
	<string>showstoppercruz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572102415014:ios:922722678b6ec28f</string>
	<key>DATABASE_URL</key>
	<string>https://showstoppercruz.firebaseio.com</string>
</dict>
</plist>